.GameBoard {
    border-collapse: collapse;
    width: 370px;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
}

td {
    width: 0px;
    height: 30px;
    text-align: center;
    background-color: #BDBDBD;
    border: 1px solid grey;
    font-weight: bold;
    font-size: 20px;
}


img {

    max-width: 75%;
    display: block;
    margin: auto;
}

.gameover {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px #fff;
    margin: 20px 0;
}