body {
    margin: 0;
    padding: 0;
}

.personagem {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
    transition: left 0.3s ease;
}

.personagem img {
    width: 100%;
    height: 100%;
}




.animation {
    animation: moveRight linear forwards;
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}


.jump {
    position: absolute;
    width: 150px;
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}